.container{
 padding: 0 20px ;
 margin: 0 auto;
}

.header{
    padding: 20px 0;
   width: 100%;
    position: absolute;
}

.header-nav{
    display: flex;
    flex-direction:column-reverse;
    align-items: center;
    gap: 112px;
}

.header-list{
    display: flex;
    align-items: center;
    gap: 4px;
}

.hero-section{
    padding-top: 214px;
    padding-bottom: 140px;
background-position: cover;

    background-image: url(../images/hero-mob-bg.jpg) ;
background-repeat: no-repeat;
padding-bottom: 160px;
text-align: center;
}

.hero-title{
    font-family: var(--font-family);
font-weight: 700;
font-size: 30px;
text-transform: uppercase;
text-align: center;
color: #fff;
}

.hero-paragraph{
    font-family: var(--second-family);
font-weight: 300;
font-size: 18px;
text-align: center;
color: #fff;
margin-bottom: 17px;
}

.hero-btn{
    font-family: var(--font-family);
padding: 12px 38px;
border-radius: 16px ;
    font-weight: 700;
font-size: 13px;
text-align: center;
color: #fff;
background-color: #ff4e50;
}